<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iul.iscte.daam_backpack">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/backpack"
        android:label="@string/app_name"
        android:roundIcon="@drawable/backpack"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnexarFicheiro_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".Account_Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AccountSumaries_Activity"
            android:label="@string/title_activity_account_sumaries_"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AccountGroups_Activity"
            android:label="@string/title_activity_account_groups_"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Settings_Activity"
            android:label="@string/title_activity_settings_"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".CheckAnexo_Activity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".HomePage"
            android:screenOrientation="portrait"/>
        <activity android:name=".Registo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Perfil"
            android:screenOrientation="portrait"/>
        <activity android:name=".Search_Activity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>